/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
  font: inherit;
}

html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

img, video, canvas, svg {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* _common.scss */
a:link, a:visited {
  color: #333;
  text-decoration: none;
}

* {
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif, sans-serif;
}

/* _layout.css */
#header {
  border-bottom: 1px solid #aaa;
  min-height: 100px;
}
#header .header-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
#header a.site-title {
  /*padding: 1em 1em;*/
}

#footer {
  border-top: 1px solid #aaa;
  background-color: #333;
  color: #ddd;
  min-height: 300px;
  padding: 1.5rem 0;
}

#container {
  min-height: 500px;
}

.wrap-container {
  margin: 0 auto;
  max-width: 1000px;
}

.main-container {
  margin-top: 1rem;
}
.main-container .hashtag {
  margin: 0.25em 0;
}
.main-container .hashtag a:link, .main-container .hashtag a:visited {
  color: #bbb;
  background-color: #333;
  border-radius: 5px;
  padding: 0.4em;
  font-size: 0.5em;
}

/* _list.scss */
/* article list */
.article-list article {
  min-height: 200px;
  margin: 1em;
}
.article-list article .updated_at small {
  font-size: 1em;
}
.article-list article .author {
  display: flex;
}
.article-list article .author img {
  background-color: #999;
  border-radius: 50%;
}
.article-list article .author span {
  margin-left: 0.25em;
}

/* _article.scss */
/* article page */
.article-view {
  padding: 0 1rem;
}
.article-view article .article-header {
  text-align: center;
}
.article-view article .article-header h1 {
  padding: 1rem 0;
  text-align: center;
}
.article-view article .article-content {
  margin-top: 2rem;
}
.article-view article .article-content h1, .article-view article .article-content h2, .article-view article .article-content h3 {
  margin: 1em 0;
}

pre > code {
  word-break: break-all;
}