{% extends 'skin_d1/layout.html' %}
{% load blog_extras %}
{% block page_content %}
<div class="article-view">
  <article>
    <div class="article-header">
      <h1>{{ article.title }}</h1>
      <div>
        <small>Last updated on: <time datetime="{{ article.published_at }}">{{ article.published_at  | date:'Y-m-d'}}</time></small>
      </div>
      <div class="hashtag">
        <span><a href="/hashtags/java">#java</a></span>
        <span><a href="/hashtags/python">#python</a></span>
      </div>
    </div>
    <div class="article-content">
      {{ article.content_markdown | markdown }}
    </div>
  </article>
</div>
{% endblock %}