{% extends 'skin_d1/layout.html' %}
{% load blog_extras %}
{% block skin_static %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/atom-one-dark.min.css" integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js" integrity="sha512-gU7kztaQEl7SHJyraPfZLQCNnrKdaQi5ndOyt4L4UPL/FHDd/uB9Je6KDARIqwnNNE27hnqoWLBq+Kpe4iHfeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>hljs.highlightAll();</script>
{% endblock %}
{% block page_content %}
<div class="article-view">
  <article>
    <div class="article-header">
      <h1>{{ article.title }}</h1>
      <div>
        <small>Last updated on: <time datetime="{{ article.published_at }}">{{ article.published_at  | date:'Y-m-d'}}</time></small>
      </div>
      <div class="hashtag">
        {% for tag in article.tags %}
        <span><a href="{{ tag.get_absolute_url }}">#{{ tag.name }}</a></span>
        {% endfor %}
      </div>
    </div>
    <div class="article-content">
      {{ article.content_markdown | markdown }}
    </div>
  </article>
</div>
{% endblock %}