# General
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.code-workspace

# python cache
__pycache__/

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# project source files
/scripts/dev/*.sql
!/scripts/dev/drop_tables.sql