/* _article.scss */
/* article page */
.article-view {
  padding: 0 1rem;

  article {
    .article-header {
      text-align: center;
      h1 {
        padding: 1rem 0;
        text-align: center;
      }
    }
    .article-content {
      margin-top: 2rem;

      h1, h2, h3 {
        margin: 1em 0;
      }
      > p {
        margin-bottom: 1.1em;
        line-height: 140%;
      }
      > pre {
        margin-bottom: 1.5em;
      }
      ul, ol {
        margin-bottom: 1.1em;
      }
      ul li, ol li{
        margin-bottom: 0.5em;
      }
      ul {
        list-style: disc;
        padding-inline-start: 2em;
      }
      ol {
        padding-inline-start: 2em;
      }
    }
  }
}