/* _article.scss */
/* article page */
.article-view {
  padding: 0 1rem;

  article {
    .article-header {
      text-align: center;
      h1 {
        padding: 1rem 0;
        text-align: center;
      }
    }
    .article-content {
      margin-top: 2rem;

      h1, h2, h3 {
        margin: 1em 0;
      }
    }
  }
}