/* _layout.css */
#header {
  border-bottom: 1px solid $color-layout-border;
  min-height: 100px;

  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
  }
  a.site-title {
    /*padding: 1em 1em;*/
  }
}
#footer {
  border-top: 1px solid $color-layout-border;
  background-color: #333;
  color: #ddd;
  min-height: 300px;
  padding: 1.5rem 0;
}
#container {
  min-height: 500px;
}
.wrap-container {
  margin: 0 auto;
  max-width: $container-max-width;
}


.main-container {
  margin-top: 1rem;
  .hashtag{
    margin: 0.25em 0;
    
    a:link, a:visited {
      color: #bbb;
      background-color: #333;
      border-radius: 5px;
      padding: 0.4em;
      font-size: 0.5em;
    }
  }
}